.productContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.productImage{
    height: 200px;
    width: 200px;
    border-radius: 10px;
}

.productActions{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.svgAction:hover{
    cursor: pointer;
}