.aboutContainer{
    max-width: 60vw;
    margin: 50px 0px;
}

.cardAbout{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-size: 18px;
    text-align:justify;
}

.cardTextContent{
    display: flex;
    flex-direction: column;
    gap: 50px;
    min-width: 300px;
}

.cardImage{
    border-radius: 10px;
}

.cardTextContentnormal{
    font-size: 1rem;
}

.cardTextContentBigger{
    font-size: 1.5rem;
}
@media screen and (max-width: 710px){
    .cardAbout{
        flex-direction: column-reverse;
    }
}