<section class="aboutContainer">
    <div class="cardAbout">
        <span class="cardTextContent">
            <span class="fontSizeTwentysix">Welcome to our online <span class="colorRed bold">shop</span> service!</span>
            <span>We offer a convenient and <span class="colorRed bold">secure</span> shopping experience with a wide range of products. Our mission is to provide <span class="colorRed bold">quality</span> and <span class="colorRed bold">authentic</span> items while ensuring the <span class="colorRed bold">privacy</span> and security of our customers. Shop with confidence and enjoy the convenience of having your purchases delivered to your doorstep. Thank you for choosing our service, and we look forward to serving you!</span>
            <span class="fontSizeTwentysix">The <span class="colorRed bold">Shop</span> Team</span>
        </span>
        <img src="https://placehold.co/300x300" alt="" class="cardImage">
    </div>
</section>