.messageBox{
    background-color: rgb(254, 0, 0);
    border-radius: 10px;
    padding: 15px;
    display: inline;
    position: fixed;
    right: 10%;
    z-index: 1;
}

.message{
    color: white;
    font-size: 12px;
    font-weight: bold;
}