.products__container{
    display: flex;
    flex-direction: row;
    margin: 100px 0px;
    gap: 10px;
}

.products__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    max-width: 60vw;
}

.products__categories__list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.products__categories__item{
    list-style: none;
    margin-top: 10px;
    text-transform: capitalize;
    font-size: 1rem;
}

.products__categories__title{
    font-size: 1.2rem;
    font-weight: bold;
}