.home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.home__card{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.home__image{
    border-radius: 10px;
}

.home__title{
    font-size: 2rem;
}

.home__description{
    font-size: 1rem;
}

@media screen and (max-width: 730px) {
    .home__image{
        display: none;
    }
    .home__card{
        gap: 0px;
        padding: 0px 20px;
    }   
}