.homeContent{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.textContainerHome{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.image{
    border-radius: 10px;
}

.titleHome{
    font-size: 2rem;
}

.descriptionHome{
    font-size: 1rem;
}

@media screen and (max-width: 730px) {
    .image{
        display: none;
    }
    .homeContent{
        gap: 0px;
        padding: 0px 20px;
    }   
}