.cart{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 50px 0px;
}

.cart__items{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart__value{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cart__text{
    font-size: 1.5rem;
    font-weight: bold;
}

@media screen and (max-width: 650px){
    .cart{
        flex-direction: column-reverse;
        align-items: center;
    }
}