* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    font-family:'Roboto', sans-serif;
    font-size: 12px;
}

.button{
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    background-color: rgb(255, 0, 0);
    color: white;
}

.button:hover{
    cursor: pointer;
    background-color: rgb(163, 5, 5);
}

.router__link{
    text-decoration: none;
    color: black;
}

.color__red{
    color: red;
}

.text__bold{
    font-weight: bold;
}

.text__green{
    color: green;
}

.router__link__activated{
    color: red;
}