<nav class="navBar">
    <ul class="routerList">
        <li class="routerItem"><a routerLink="/" class="routerLink bold">Home</a></li>
        <li class="routerItem"><a routerLink="/products/all" class="routerLink bold">Products</a></li>
        <li class="routerItem"><a routerLink="/about" class="routerLink bold">About</a></li>
        <li class="routerItem"><a routerLink="/contact" class="routerLink bold">Contact</a></li>
        <li class="routerItem"><a routerLink="/cart" class="routerLink bold">Cart</a></li>
    </ul>
</nav>
<nav class="navBarMobile">
    <span>Icone</span>
</nav>