.routerList{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.routerItem{
    list-style: none;
}

.navBarMobile{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    .navBar{
        display: none;
    }
}

@media screen and (min-width: 600px) {
    .navBarMobile{
        display: none;
    }
}
