.routerList{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.routerItem{
    list-style: none;
    font-size: 1rem;
}

.routerItemMobile{
    list-style: none;
    font-size: 2rem;
}

.navBarMobile{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.menuMobile{
    position: absolute;
    left: 0px;
    top: 10vh;
    border: 1px solid black;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: rgba(207, 10, 10, 0.761);
    border: none;
    text-align: center;
    z-index: 1;
}

.routerMobileMenu{
    margin: 50px;
    font-size: 35px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.routerMobileLink{
    text-decoration: none;
    color: white;
}

.numberOfCartProducts{
    position: relative;
    bottom: 25px;
    left: 35px;
    color: red;
}

.svgCart{
    .sharpcorners_een{fill:#000000;}
    .st0{fill:#000000;}
}

.svgCart__router__activated{
    .sharpcorners_een{fill:#ff0000;}
    .st0{fill:#ff0000;}
}


@media screen and (max-width: 600px) {
    .navBar{
        display: none;
    }
    .numberOfCartProducts{
        position: relative;
        bottom: 25px;
        left: 100px;
    }
}

@media screen and (min-width: 600px) {
    .navBarMobile{
        display: none;
    }
}
