.productCart{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}
.infoProductCart{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    width: 130px;
    text-align: center;
}
.infoProductCartButtons{
    display: flex;
    gap: 5px;
}

.productNameCart{
    font-size: 1rem;
}

.productPriceCart{
    font-size: 1rem;
}

.productQuantCart{
    font-size: 1rem;
}

@media screen and (max-width: 380px) {
    .productCart{
        gap: 10px;
        padding: 10px;
    }
}