<section class="productCart">
    <img src="{{product.product.imageUrl}}" alt="" height="50">
    <div class="infoProductCart">
        <span class="productNameCart">Nome: {{product.product.name}}</span>
        <span class="productPriceCart">Preço: R$ {{product.product.price * product.quant}}</span>
        <span class="productQuantCart">Quantidade: {{product.quant}}</span>
    </div>
    <div class="infoProductCartButtons">
        <button class="button" (click)="addProduct()">+</button>
        <button class="button" (click)="subProduct()">-</button>
    </div>
</section>