.payment__container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 50px 0px;
}

.payment__form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.payment__user{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.payment__adress{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.payment__review{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid rgb(211, 211, 211);
    padding: 20px;
    border-radius: 10px;
}

.payment__review__card{
    display: flex;
    flex-direction: column;
    gap: 2px;
    font-size: 12px;
    border-bottom: 1px solid red;
}

.payment__input__style{
    border-radius: 5px;
    padding: 10px;
    border: 0.5px solid rgb(164, 164, 164);
}

.payment__input{
    display: flex;
    flex-direction: column;
}

.payment__title{
    font-size: 1.5rem;
    font-weight: bold;
}

.payment__block{
    font-size: 1rem;
}

.payment__doesnt{
    font-size: 1rem;
}

.payment__review__text{
    font-size: 0.8rem;
}